@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;

}

.light-mode {
    background-color: whitesmoke;
    color: rgb(20, 20, 20);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    z-index: 10;
}

/* шапка */
.header {
    background-color: #2b2b2b;
    padding: auto;
    height: 80px;
    /* color: whitesmoke; */
    font-weight: bold;   
}

.header-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
}

.logoText {
    padding: 0px;
    font-weight: 700;
    font-size: 30px;
}

/* nav */
.nav-list {
    display: flex;  
    column-gap: 50px;
    font-weight: 500;
    font-size: 20px;
}

/* .nav-item {

} */

.nav-link{
    color: whitesmoke;
}


/* POSTS PAGE */
.posts {
    /* color: whitesmoke; */
    font-weight: bold;   
    max-width: 800px;
    margin: 0 auto;
}

.post {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.post-description {
    flex-direction: column;
}

.albumCover {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.title {
    font-size: x-large;
    font-weight: 600;
    padding: 0 0 10px 20px;
}

.description {
    font-size: medium;
    font-weight: 400;
    padding: 0 0 10px 20px;
}

.player {
    padding: 0 0 10px 20px;
}